* {
    box-sizing: border-box;
    color: snow;
    font-family: Arial;
    text-shadow: 1px 1px 10px black;
}

*::selection {
    background-color: rgba(14, 138, 196, 0.5);
    text-shadow: 1px 1px 5px snow;
    color: black;
    font-weight: bold;
}

html {
    font-size: 10px;
}

body {
    background-image: url(background-image1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*? for div in main */



.h1 {
    text-align: center;
    font-size: 2.5rem;
    border-radius: 10px;
    padding: 0.2em;
    backdrop-filter: blur(2px) brightness(70%);
}

.div2, .div3, .div4 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.p1 {
    width: 95%;
    max-width: 65ch;
    font-size: 2.5rem;
    border-radius: 0.6em;
    padding: 0.5em;
    margin: 1%;
    backdrop-filter: blur(2px) brightness(70%);
    color: snow;
    font-family: Arial;
    text-shadow: 1px 1px 10px black;

}

p::selection {
    text-shadow: 1px 1px 5px snow;
    color: black;
    font-weight: bold;
}

mark {
    color: black;
    font-weight: bold;
    background-color: transparent;
    text-shadow: 1px 1px 10px snow;
    border: 2px dotted snow;
    border-top: 0;
    border-bottom: 0;
    border-radius: 15px;
    padding: 0.1em;
}

mark::selection {
    color: black;
}

.div5 {
    width: 95%;
    min-width: 25rems;
    display: flex;
    flex-direction: column;
    max-width: 65ch;
    font-size: 2rem;
    border-radius: 0.6em;
    padding: 0.5em;
    margin: 1%;
    backdrop-filter: blur(2px);
    color: snow;
    font-family: Arial;
    text-shadow: 1px 1px 10px black;
    backdrop-filter: blur(2px) brightness(60%);
}

table {
    font-size: 1.5rem;
    padding: 0.2em;
}

@media screen and (max-width:255px) {
    table {
        font-size: 1.1rem;
        padding: 0.1rem;
    }

    ul {
        margin-left: -1.7rem;
    }
    
}

tr, th, td {
    max-width: 65ch;
    width: 50%;
}

.td1, .td2 {
    text-align: start;
}